[submodule "mackup/packages/zplug"]
	path = mackup/packages/zplug
	url = git@github.com:zplug/zplug.git
[submodule "mackup/packages/fortunes"]
	path = mackup/packages/fortunes
	url = git@github.com:bmc/fortunes.git
[submodule "mackup/packages/cowsay-files"]
	path = mackup/packages/cowsay-files
	url = git@github.com:paulkaefer/cowsay-files.git
[submodule "mackup/packages/tmux-url-select"]
	path = mackup/packages/tmux-url-select
	url = git@github.com:turboninh/tmux-url-select.git
[submodule "mackup/packages/change-mac-address"]
	path = mackup/packages/change-mac-address
	url = git@github.com:turboninh/change-mac-address-and-host-name.git
