// This configuration file is is using the TMUX mode keybindings as the main workflow.

// If you'd like to override the default keybindings completely, be sure to change "keybinds" to "keybinds clear-defaults=true"
keybinds clear-defaults=true {
    tmux {
        // Pane
        bind "h" { MoveFocus "Left"; }
        bind "l" { MoveFocus "Right"; }
        bind "j" { MoveFocus "Down"; }
        bind "k" { MoveFocus "Up"; }
        bind "m" { MovePane; }
        bind "x" { CloseFocus; }
        bind "/" { NewPane "Down"; SwitchToMode "Locked"; }
        bind "|" { NewPane "Right"; SwitchToMode "Locked"; }
        bind "z" { ToggleFocusFullscreen; SwitchToMode "Locked"; }

        // Rename
        bind "u" { UndoRenamePane;  SwitchToMode "Locked"; }
        bind "r" { SwitchToMode "RenameTab"; TabNameInput 0; }
        bind "u" { UndoRenameTab; SwitchToMode "Locked"; }

        // Tab
        bind "1" { GoToTab 1; SwitchToMode "Locked"; }
        bind "2" { GoToTab 2; SwitchToMode "Locked"; }
        bind "3" { GoToTab 3; SwitchToMode "Locked"; }
        bind "4" { GoToTab 4; SwitchToMode "Locked"; }
        bind "5" { GoToTab 5; SwitchToMode "Locked"; }
        bind "6" { GoToTab 6; SwitchToMode "Locked"; }
        bind "7" { GoToTab 7; SwitchToMode "Locked"; }
        bind "8" { GoToTab 8; SwitchToMode "Locked"; }
        bind "9" { GoToTab 9; SwitchToMode "Locked"; }
        bind "<" { GoToPreviousTab; }
        bind ">" { GoToNextTab; }
        bind "t" { NewTab; SwitchToMode "Locked"; }
        bind "Ctrl x" { CloseTab; SwitchToMode "Locked"; }
        bind "s" { ToggleActiveSyncTab; SwitchToMode "Locked"; }

        // Resize
        bind "+" { Resize "Increase"; }
        bind "-" { Resize "Decrease"; }
        // bind "h" "Left" { Resize "Increase Left"; }
        // bind "j" "Down" { Resize "Increase Down"; }
        // bind "k" "Up" { Resize "Increase Up"; }
        // bind "l" "Right" { Resize "Increase Right"; }

        // Scroll
        bind "b" { ScrollUp; }
        bind "f" { ScrollDown; }
        bind "Ctrl b" { PageScrollUp; }
        bind "Ctrl f" { PageScrollDown; }

        // Copy
        bind "c" { Copy; }

        // Session
        bind "Ctrl q" { Quit; }
        bind "d" { Detach; }

        // Search
        // bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "o" { SearchToggleOption "WholeWord"; }
        bind "Ctrl s" { SwitchToMode "EnterSearch"; SearchInput 0; }
        bind "n" { Search "down"; }
        bind "N" { Search "up"; }

        bind "Enter" { SwitchToMode "Locked"; }
    }

    entersearch {
        bind "Enter" { SwitchToMode "Tmux"; }
        bind "Esc" { SwitchToMode "Locked"; }

    }

     shared_except "tmux" {
        bind "Ctrl b" { SwitchToMode "Tmux"; }
    }


     shared_except "Locked" {
        bind "Ctrl l" { SwitchToMode "Locked"; }
    }
}   

// More plugins: https://zellij.dev/documentation/plugin-overview.html
plugins {
    tab-bar { path "tab-bar"; }
    status-bar { path "status-bar"; }
    strider { path "strider"; }
    compact-bar { path "compact-bar"; }
    // z-tab-bar { path "$HOME/.config/zellij/plugins/z-tab-bar"; }
}

// Configurations: https://zellij.dev/documentation/configuration.html

ui {
    pane_frames {
        rounded_corners true
        hide_session_name true
    }
}

on_force_close "quit"
simplified_ui false
pane_frames false
auto_layout true
theme "tokyo-night-dark"
copy_command "pbcopy" // osx
copy_clipboard "system"
copy_on_select true
scrollback_editor "/opt/homebrew/bin/nvim"
default_mode "Locked"

// When attaching to an existing session with other users,
// should the session be mirrored (true)
// or should each user have their own cursor (false)
// Default: false
//
// mirror_session false #