#
# Aliases
##########################################################################################
alias cheats="code $NAVI_PATH"
alias dotfiles="code ~/dotfiles"
alias layout="code ~/dotfiles/mackup/.config/zellij/layouts/default.kdl"

# Shell stuffs
alias S="source ~/.zshrc" # Reload shell
alias E="zellij" # Terminal

# Common utils
alias l="lsd" # List
alias la="l -la" # List all
alias lla='ls -la'
alias lt='ls --tree'
alias g="z" # Go to
alias gi="zi" # go interactive
alias v="bat" # View
alias t="trash" # Trash
alias m="btop" # Monitor
alias h="hstr" # History
alias s="rg" # Search
alias e="nvim" # Editor

# Tools
alias systeminfo="neofetch && macinfo"
alias gitinfo="neofetch"
alias macinfo="~/packages/scripts/show-mac-info.sh"

# Apps
alias app-cleaner="~/packages/app-cleaner/app-cleaner.sh"
alias dotfiles-backup="~/dotfiles/scripts/backup.sh"
alias dotfiles-sync-packages="~/dotfiles/scripts/sync-packages.sh"

# Aliases
alias p="pnpm"
alias y="yarn"
alias n="npm"
alias nv="nvim"