export XDG_CONFIG_HOME="$HOME/.config"

export EDITOR=${EDITOR:-nvim}
export VISUAL=${EDITOR:-nvim}
export GIT_EDITOR=${EDITOR:-nvim}

#
# Global environment variables
##########################################################################################
export LC_ALL=en_US.UTF-8   # Export variables
export LC_CTYPE=en_US.UTF-8 # Export variables
export HOSTNAME="$(hostname)"
#
#

#
# Git fuzzy config
# https://github.com/bigH/git-fuzzy/pull/16/files
##########################################################################################
export GIT_FUZZY_STATUS_ADD_KEY='Ctrl-A'
export GIT_FUZZY_STATUS_ADD_KEY='Ctrl-S'
export GIT_FUZZY_STATUS_EDIT_KEY='Ctrl-E'
export GIT_FUZZY_STATUS_COMMIT_KEY='Ctrl-C'
export GIT_FUZZY_STATUS_RESET_KEY='Ctrl-R'
export GIT_FUZZY_STATUS_DISCARD_KEY='Ctrl-U'
export GIT_FUZZY_BRANCH_WORKING_COPY_KEY='Ctrl-P'
export GIT_FUZZY_BRANCH_MERGE_BASE_KEY='Ctrl-M'
export GIT_FUZZY_BRANCH_COMMIT_LOG_KEY='Ctrl-L'
export GIT_FUZZY_BRANCH_CHECKOUT_KEY='Ctrl-F'
export GIT_FUZZY_BRANCH_DELETE_BRANCH_KEY='Ctrl-D'

#
# Navi
##########################################################################################
export NAVI_PATH=$HOME/.config/navi/cheats
export NAVI_CONFIG=$HOME/.config/navi/config.yaml

# Navi colors - https://github.com/redox-os/termion/blob/189222555ef92a29de366f96d2a067b3a920fc24/src/color.rs#L62-L77
export NAVI_TAG_COLOR=5
export NAVI_COMMENT_COLOR=2
export NAVI_SNIPPET_COLOR=8
export NAVI_TAG_WIDTH=20 # Navi width -  0 to 100
export NAVI_COMMENT_WIDTH=60
export NAVI_FZF_OVERRIDES="--height 80% --border --no-exact"
#
#

# Fuzzy config
export FZF_DEFAULT_OPTS="--ansi --preview-window 'right:60%' --preview 'bat --color=always --style=header,grid --line-range :300 {}'"

# Start with history
HISTFILE=~/.zsh_history
HISTSIZE=10000
SAVEHIST=10000
export HIST_STAMPS="yyyy-mm-dd"
export HISTSIZE=250000
export SAVESIZE=25000
setopt appendhistory
setopt histignorespace           # skip cmds w/ leading space from history
export HSTR_CONFIG=hicolor       # get more colors

# LSD colors https://github.com/lsd-rs/lsd#colors
export LS_COLORS="$(vivid generate dracula)"

# Config paths
export BAT_CONFIG_PATH="~/.config/bat/bat.conf"
export ASDF_CONFIG_FILE="~/.config/asdf/.asdfrc"

# Paths
export PATH="/Users/turbothinh/.local/share/pypoetry/bin:$PATH"
