###################################################################################################
# Custom configuration file for Mackup that includes all the applications I use
#
# https://github.com/lra/mackup/tree/master/doc#add-support-for-an-application-or-almost-any-file-or-directory
###################################################################################################
[application]
name = My Sync

###################################################################################################
# Files and directory to be synced from $HOME.
###################################################################################################
[configuration_files]
.alfred
.alacritty.yml
.bashrc
.nanorc
.cheat

# ZSH
.zshrc
.p10k.zsh

# Htop
.htoprc
htop/htoprc

# NuShell
Library/Application Support/nushell/env.nu
Library/Application Support/nushell/config.nu

# Pip
.pip/pip.conf

# Rust
.cargo/config

# Composer
.composer/config.json
.composer/composer.json

# Homebrew
.Brewfile

# Ruby
.gemrc
.irbrc
.pryrc
.aprc

# Gradle
.gradle/gradle.properties
.gradle/init.gradle
.gradle/init.d

# HSTR
.hstr_favorites
.hstr_blacklist

# ASDF
.asdfrc
.tool-versions
.default-gems
.default-npm-packages

# Ripgrep
.ripgreprc

# SSH
.ssh/config

# Git
.gitconfig
.gitconfig.local
.gitmessage
.gitmodules
.gitignore

# GIMP
.gimp/colorrc
.gimp/contextrc
.gimp/controllerrc
.gimp/devicerc
.gimp/dockrc
.gimp/gimprc
.gimp/gtkrc
.gimp/menurc
.gimp/parasiterc
.gimp/pluginrc
.gimp/profilerc
.gimp/sessionrc
.gimp/templaterc
.gimp/themerc
.gimp/toolrc
.gimp/unitrc

# Emacs
.emacs
.emacs.d

# Curl
.netrc
.curlrc

# Hammerspoon
.hammerspoon

###################################################################################################
# Add support for an application using the XDG directory structure
# For application storing their configuration under the ~/.config folder
###################################################################################################
[xdg_configuration_files]
navi
thefuck/settings.py
alacritty/alacritty.yml
htop/htoprc
cheat/conf.yml

# ZSH
sheldon/plugins.toml
zsh

# Flameshot
flameshot/flameshot.ini

# Rtx
rtx/config.toml

# Bottom
bottom/bottom.toml

# Btop
btop/themes
btop/btop.conf

# Broot
broot/conf.hjson
broot/verbs.hjson

# General Shell config
shell/.env
shell/.exports
shell/.aliases

# Git
git/config
git/ignore
git/attributes

# Bat
bat/config
bat/syntaxes
bat/themes

# Powerline
powerline/config.json
powerline/colors.json
powerline/themes
powerline/colorschemes

# Zellij
zellij/config.kdl
zellij/themes
zellij/layouts

# Tmux
tmux/tmux.conf
.tmux.conf.local # Oh my tmux

# Kitty
kitty/kitty.conf
kitty/dracula.conf

# Pip
pip/pip.conf

# NuShell
nushell/config.nu
nushell/env.nu

# LSD
lsd/config.yaml
lsd/themes

# Bat
bat/bat.conf

# Lazygit
lazygit/config.yml

# Neofetch
neofetch/config.conf

nvim
