layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
                plugin location="zellij:compact-bar"
        }
    }
    tab name="Tmp" cwd="/Users/turbothinh/Code/Tmp" split_direction="Vertical" focus=true{
        pane split_direction="Vertical" {
            pane size="50%" focus=true
            pane size="50%" split_direction="Horizontal" {
                pane size="50%"
                pane size="50%"
            }
        }
    }
}